<div style="padding-left: 10%; padding-right: 10%;">
    <h1>Famous Alumni:</h1>

    <p>When a man joins AEPi, he gains access to an unparalleled network of alumni. AEPi alums are active in nearly every sector of business, service, entertainment, sports, and politics. Here are just a few famous AEPi alumni: </p>

    <h3>Chapter</h3>
    <ul>
        <li>Tyler Weitzman ’16: Founder and CEO, Black SMS
        </li>
        <li>Andy Bromberg ’15: Co-founder and CEO, Sidewire
        </li>
        <li>Ryan Breslow ’15: Co-founder and CEO, Bolt
        </li>
        <li>Wyndam Makowsky ’11: Director of Labor Operations, NFL
        </li>
        <li>David Auld ’05: Principal Product Manager, Microsoft
        </li>
        <li>Drew Ungerman ’95: Senior Partner, McKinsey
        </li>
        <li>Adam Ross ’95: Founder, Chairman & CEO, Goldcrest Investments
        </li>
        <li>Jason Zajac ’92: Executive Vice President, NBC Universal
        </li>
        <li>Michael Dickstein ’91: Executive Recruiter, Spencer Stuart
        </li>

    </ul>

    <p> Graduated from Stanford AEPi and have a sweet job now? <a href="/contact-us">Contact us </a> and let us know who you are, what year you graduated, and what you do! </p>


    <h3>National</h3>
    <ul>
        <li>    Sheldon Adelson: Chairman and CEO of the Las Vegas Sands Corporation
        </li>
        <li>    Gary Bettman: Commissioner of the NHL
        </li>
        <li>    Wolf Blitzer: CNN Correspondent
        </li>
        <li>    Myles Brand: President of NCAA
        </li>
        <li>    James Brooks: Academy Award winning producer/director (The Simpsons)
        </li>
        <li>    Wayne Firestone: President of Hillel
        </li>
        <li>    Richard Frank: President of Walt Disney Studios
        </li>
        <li>    Steven Friedman: Executive Producer of NBC Nightly News
        </li>
        <li>    Alan Galumbeck: Creator of the Weather Channel
        </li>
        <li>    Art Garfunkel and Paul Simon: Simon and Garfunkel
        </li>
        <li>    Frank Gehry: Architect (Guggenheim Museum Bilbao, Spain)
        </li>
        <li>    Leonard Goldberg: Chairman of 20th Century Fox
        </li>
        <li>    Neil Goldman: TV writer and producer for Family Guy and Scrubs
        </li>
        <li>    Steve Goldman: Executive Vice President of Paramount
        </li>
        <li>    Nathaniel Goldstein: New York Attorney General
        </li>
        <li>    Richard Joel: President of Yeshiva University, International Director of Hillel
        </li>
        <li>    Ron Klein: U.S. Congressman
        </li>
        <li>    Bernard Marcus: Founder of Home Depot
        </li>
        <li>    Steven Markowitz: Hoodie Allen
        </li>
        <li>    Justin Mateen: Founder of Tinder
        </li>
        <li>    Charles Moskowitz: Founder of AEPi, President and Treasurer of MGM Studios
        </li>
        <li>    Jerry Reinsdorf: Owner of Chicago Bulls and Chicago White Sox
        </li>
        <li>    Andy Schwartz: Writer of Scrubs
        </li>
        <li>    Fred Silverman: President of NBC Television
        </li>
        <li>    Chet Simmons: Founder of ESPN
        </li>
        <li>    Mark Sinclair: Vin Diesel
        </li>
        <li>    Jeremy Smith: Creator of SpotHero
        </li>
        <li>    Steve Stone: Cy Young Winner, 1980
        </li>
        <li>    Matt Van Horn: Co-founder of Lyft, co-founder and CEO of June
        </li>
        <li>    Gene Wilder: Actor, producer, director
        </li>
        <li>    Mark Zuckerberg: Creator of Facebook.com
        </li>
    </ul>
</div>
