<div class="container" style="padding-left: 10%; padding-right: 10%; padding-top: 5%">
    <table class="contact-table" style="width:100%">
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Year/Dorm</th>
            <th>Email</th>

        </tr>
        <tr>
            <td>Brother Master</td>
            <td>Spencer Savitz</td>
            <td>Senior, Narnia</td>
            <td><a href="mailto:ssavitz@stanford.edu">ssavitz@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Lieutenant Master</td>
            <td>Matthew Wigler</td>
            <td>Sophomore, Castano </td>
            <td><a href="mailto:mwigler@stanford.edu">mwigler@stanford.edu</a></td>

        </tr>
        <tr>
            <td>- </td>
            <td>- </td>
            <td>- </td>
            <td>- </td>

        </tr>
        <tr>
            <td>Alumni Chair</td>
            <td>Max Horland</td>
            <td>Junior, Toyon</td>
            <td><a href="mailto:mhorland@stanford.edu">mhorland@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Brotherhood Chair</td>
            <td>Adam Kaplan</td>
            <td>Junior, Slav</td>
            <td><a href="mailto:ajkaplan@stanford.edu">ajkaplan@stanford.edu</a></td>

        </tr>

        <tr>
            <td>Exchequer</td>
            <td>Eduardo Perez</td>
            <td>Senior, Grove</td>
            <td><a href="mailto:eperez94@stanford.edu">eperez94@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Jewish Identity Chair</td>
            <td>Elliot Kaufman</td>
            <td>Junior, WestFlo</td>
            <td><a href="mailto:esk@stanford.edu">esk@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Pledge Master</td>
            <td>Ben Gillman</td>
            <td>Sophomore, Toyon</td>
            <td><a href="mailto:bgillman@stanford.edu">bgillman@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Rush Chair</td>
            <td>Matthew Wigler</td>
            <td>Sophmore, Castano</td>
            <td><a href="mailto:mwigler@stanford.edu">mwigler@stanford.edu</a></td>

        </tr>

        <tr>
            <td>Scribe</td>
            <td>Max Horland</td>
            <td>Junior, Toyon</td>
            <td><a href="mailto:mhorland@stanford.edu">mhorland@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Sentinel</td>
            <td>Adam Kaplan</td>
            <td>Junior, Slav</td>
            <td><a href="mailto:ajkaplan@stanford.edu">ajkaplan@stanford.edu</a></td>

        </tr>




        <tr>
            <td>Social Chair</td>
            <td>Gabe Rosen</td>
            <td>Sophomore, Kimball</td>
            <td><a href="mailto:grosen18@stanford.edu">grosen18@stanford.edu</a></td>

        </tr>

        <tr>
            <td>Webmaster</td>
            <td>Philip Weiss</td>
            <td>Sophomore, Kimball</td>
            <td><a href="mailto:weissp68@stanford.edu">weissp68@stanford.edu</a></td>

        </tr>

    </table>
</div>

