<div class="container" style="padding-left: 10%; padding-right: 10%; padding-top: 5%">
    <table class="contact-table" style="width:100%">
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Year/Dorm</th>
            <th>Email</th>

        </tr>
        <tr>
            <td>Brother Master</td>
            <td>Adam Kaplan</td>
            <td>Senior, Slav</td>
            <td><a href="mailto:ssavitz@stanford.edu">ajkaplan@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Lieutenant Master</td>
            <td>Matthew Wigler</td>
            <td>Junior, 680 </td>
            <td><a href="mailto:mwigler@stanford.edu">mwigler@stanford.edu</a></td>

        </tr>
        <tr>
            <td>- </td>
            <td>- </td>
            <td>- </td>
            <td>- </td>

        </tr>
        <tr>
            <td>Alumni Chair</td>
            <td>Shawn Ahdout</td>
            <td>Sophomore</td>
            <td><a href="mailto:sahdout@stanford.edu">sahdout@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Brotherhood Chair</td>
            <td>Philip Weiss</td>
            <td>Junior</td>
            <td><a href="mailto:weissp68@stanford.edu">weissp68@stanford.edu</a></td>

        </tr>

        <tr>
            <td>Exchequer</td>
            <td>Eduardo Perez</td>
            <td>Senior, Grove</td>
            <td><a href="mailto:mhorland@stanford.edu">mhorland@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Jewish Identity Chair</td>
            <td>Max Minshull </td>
            <td>Junior, WestFlo</td>
            <td><a href="mailto:mminshull@stanford.edu">mminshull@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Pledge Master</td>
            <td>Aaron Marks</td>
            <td>Sophomore </td>
            <td><a href="mailto:aamarks@stanford.edu">aamarks@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Rush Chair</td>
            <td>Sam Lurye</td>
            <td>Sophomore </td>
            <td><a href="mailto:slurye@stanford.edu"> slurye@stanford.edu</a></td>

        </tr>

        <tr>
            <td>Scribe</td>
            <td>Zach Nunn</td>
            <td>Junior </td>
            <td><a href="mailto:zachnunn@stanford.edu">zachnunn@stanford.edu</a></td>

        </tr>
        <tr>
            <td>Sentinel</td>
            <td>Andrew Milich</td>
            <td>Junior</td>
            <td><a href="mailto:amilich@stanford.edu">amilich@stanford.edu</a></td>

        </tr>




        <tr>
            <td>Social Chair</td>
            <td>Michael Spelfogel</td>
            <td>Senior</td>
            <td><a href="mailto:mspel@stanford.edu">mspel@stanford.edu</a></td>

        </tr>

        <tr>
            <td>Webmaster</td>
            <td>Philip Weiss</td>
            <td>Junior </td>
            <td><a href="mailto:weissp68@stanford.edu">weissp68@stanford.edu</a></td>

        </tr>

    </table>
</div>

