<div style="padding-left: 10%; padding-right: 10%;">
    <h3>Brotherhood</h3>
    <ul>
        <li>    Weekly Treehouse late nights
        </li>
        <li>    Group dinners on campus and in Palo Alto
        </li>
        <li>    SF Alumni Nights
        </li>
        <li>    Fleming’s Happy Hours
        </li>
        <li>    Fountain Hopping
        </li>
        <li>    Laser Tag
        </li>
        <li>    Intramural sports
        </li>
        <li>    Dish Hikes
        </li>
        <li>    Tahoe Ski Trips
        </li>
        <li>    Cabo Spring Break
        </li>
        <li>    National Conventions
        </li>
        <li>    Regional Conclaves
        </li>

    </ul>

    <h3>Jewish Identity</h3>
    <ul>
        <li>    Challah for Hunger
        </li>
        <li>    Chocolate Seder
        </li>
        <li>    Rally Against Anti-Semitism
        </li>
        <li>    Israel Block Party (Independence Party)
        </li>

    </ul>

    <h3>Community</h3>
    <ul>
        <li> Mixers with sororities</li>
        <li>    Formal
        </li>
        <li>    All-Campus parties
        </li>
        <li>    Leland Stanford Jr.’s Bro Mitzvah
        </li>
        <li>    Tailgates
        </li>

    </ul>


    <h3>Philanthropy</h3>
    <ul>
        <li>    Autism Speaks U
        </li>
        <li>    ONE Global Poverty Initiative
        </li>
        <li>    Aiding Hearts
        </li>

    </ul>
</div>
