<div style="padding-left: 10%; padding-right: 10%;">
<h1>History</h1>

    <h3>AEPi</h3>
<p class="about-para"> Alpha Epsilon Pi, the International Jewish Fraternity, was founded in 1913 at New York University to give Jewish men a collegiate social and cultural brotherhood. Since then, this fraternity has witnessed four wars and the Great Depression. It has seen more changes occur in this time than had occurred in the entire history of the world prior to its founding. It has seen the birth of television, the jet plane, space travel, and the computer. Through it all, the fraternity has maintained the integrity of its purpose: to provide the Jewish college man with the best possible college and fraternity experience. </p>

<p class="about-para">Students who enter the mainstream of college life generally find their heritage slipping away. Alpha Epsilon Pi, the only nationally Jewish fraternity, is the only fraternal organization capable of offering a membership that values the ethics and ideals of Judaism. </p>

<p class="about-para">Since its inception in 1913, almost 100,000 (!) men have worn the badge that is Alpha Epsilon Pi. This year alone, 10,000 undergraduates in over 180 chapters across the USA, United Kingdom, Canada, France, and Israel will continue in this rich and rewarding tradition. These men will join Alpha Epsilon Pi Fraternity for the opportunity to develop the character, commitment, and responsibility necessary to become the future leaders of America's Jewish communities. </p>

    <h3>Our Chapter</h3>
<p class="about-para">
     The Sigma Tau Chapter of Alpha Epsilon Pi officially became a chapter in 1989 at Stanford University. It was founded on the principles of honesty, faith, humility, mutual helpfulness, and perseverance—guideposts that continue to form the basis of the Chapter. </p>

<p class="about-para">Since its founding, our Chapter has always maintained a strong connection to Stanford Hillel, and our brothers also play an active role in many student groups on campus. The Sigma Tau Chapter has flourished and grown for over twenty-five years, and it will continue to play an active role in campus life—in both the Jewish community and the student community as a whole. <a href="/current"> Don't believe us? See what our brothers are like and what we’re involved with on campus. </a> </p>

</div>