<div style="padding-left: 10%; padding-right: 10%;">
    <br>
    <div class="alert alert-warning">
        <p style="font-size: 20px;"> Lunch Attendance Form: <a href="https://docs.google.com/a/stanford.edu/forms/d/e/1FAIpQLSepf7D8YdnIg92m2K54gM5bQWkwa5mChZp7hPXceq-KsWtZyw/viewform?c=0&w=1">Here </a> </p>
        Brothers are required to attend one lunch a week. New members are required to attend two.
    </div>
    <hr>
    <div style="padding-left: 7%">
        <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=3hrm7fj3ihvbacknunsekcs49s%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>