<div style="padding-left: 10%; padding-right: 10%;">
<h1>Modern Day</h1>

<h3>Who Are We?</h3>

<p class="about-para">AEPi is built on strong friendships and deep personal bonds which unite us together around our four key pillars:
    <ol class="about-para">
        <li>Brotherhood</li>
        <li>Jewish Identity</li>
        <li>Sociality</li>
        <li>Philanthropy</li>
    </ol>
    <p class="about-para"> First and foremost, AEPi is a brotherhood. Our programming includes a full and active schedule of brotherhood events planned for throughout the year. Frequent nights in San Francisco, weekends at Lake Tahoe, and Spring Break trips are hallmarks of AEPi. Everyone in our fraternity gets together at least once each week for game nights, group dinners on campus and in Palo Alto, and to support our brothers as they participate in athletics, theatre, and more. You can count on a crowd of friends to join you to watch your favorite TV shows and events like political debates, the World Series, NBA Finals, and the Super Bowl. Our programming also includes mixers and social events with Stanford’s other Greek organizations and weekly Shabbat dinners. </p>

<p class="about-para"> AEPi is <b>THE</b> Jewish fraternity. We are proud of our fraternity’s Jewish identity, which makes us unique amongst Stanford’s Greek organizations. Together, we engage with the wider Stanford Jewish community on an opt-in basis, regularly attending Shabbat dinners at Hillel and Chabad, observing holidays together, and serving as advocates for our community and for Israel. We come from a wide spectrum of beliefs and backgrounds: AEPi is a welcoming cultural community and home for brothers of any and all Jewish backgrounds. While our fraternity
celebrates Jewish heritage, not all of our brothers are Jewish--we are happy to include and embrace brothers of all identities who have an interest in joining. </p>

<p class="about-para"> AEPi brothers are engaged as leaders in many diverse corners of the Stanford community and have a range of interests and beliefs. From the Finance Director of the Stanford Democrats to the Editor-in-Chief of the Stanford Review, from the President of Treehacks to the Director of one of Stanford’s Winter One Act Plays, AEPi brings together leaders from across campus. Our brothers are world champion bridge players, play on the squash team, debate on the Model United Nations team, and serve the community through Los Hermanos de Stanford. We support each other’s accomplishments and encourage each brother to reach their full potential. </p>

<h3> AEPi Beyond Stanford </h3>

<p class="about-para"> Our fraternity’s strong ties to its alumni and the national AEPi fraternity are also amongst its defining characteristics. AEPi is the largest fraternity in all of California and has over 180 chapters around the world. We enjoy strong relationships with other chapters, who we meet regularly at our regional conclaves and national conventions. These cross-campus exchanges enable us to spend epic weekends at the beach in Santa Cruz and to find friends even at UC Berkeley (of all places!). Our thousands of alumni are always happy to talk to you, mentor you, and help you to achieve your academic and professional goals. When you join AEPi, you become part of a lifelong network of brothers who want nothing more than for you to succeed at everything you do and are willing to put in the time and effort to make that a reality. </p>

<h3> Philanthropy </h3>

<p class="about-para"> Our chapter is committed to supporting the causes nearest and dearest to our brothers’ hearts. These include Autism Speaks U, Aiding Hearts, and the ONE Global Poverty Initiative Chapter--all philanthropic organizations at Stanford founded and run by members of our fraternity. Our brothers are devoted to service through community advocacy, whether campaigning for an original carbon tax proposal, supporting Israel on campus, or developing technologies to facilitate the spread of democracy around the world. We are also happy to assist others on campus in their efforts to make the world a better place, for example, joining with Stanford Women in Business to learn through their SWIB Allies program and joining Hillel and the rest of Stanford’s Jewish community in the Chocolate Seder, Rally Against Anti-Semitism, and Challah for Hunger. We plan to continue supporting the charities most significant to our members. </p>

<h3> AEPi Financial Aid </h3>

<p class="about-para"> AEPi does not exclude any potential brothers for financial reasons. Therefore, we help our members apply for scholarships through AEPi Nationals, provide quarterly payment plans for those who cannot make one upfront payment, and enlist alumni assistance when this is still not enough. Please speak with our Exchequer, Eduardo Perez <a href="mailto:eperez94@stanford.edu">(eperez94@stanford.edu)</a>, if you have any questions or concerns. </p>
</div>