// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  height: 100%;
}

body {
  padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
  height: 50%;
  background-color: transparent !important;

}
.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
  background-color: transparent !important;

}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}

/* Footer Styles */

footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
    background-color: transparent !important;

  }

  header.carousel .carousel {
    height: 70%;
    background-color: transparent !important;

  }
}

.aepi-slide {
  margin-top: 50px;
  text-align: center;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right.carousel-control, .left.carousel-control {
  background-color: transparent !important;
}

.aepinav li a{
  color: white;
}

.black {
  color: black !important;
}


.carousel,
.item,
.active {
  height: 100%;
  max-height: 600px;
  /*slider height*/
  background-color: transparent !important;

}
.carousel-inner {
  height: 100%;
  background-color: transparent !important;

}
.carousel .item img {
  width: 100%;
  background-color: transparent !important;

  /*img width*/
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.contact-table {
  font-size: 20px;
  padding: 5px;
}

.about-para {
  font-size: 16px;
}