
<h1 style="text-align: center">About AEPi Rush </h1>

<div class="container" style="padding-left: 10%; padding-right: 10%">
    <div class="alert alert-warning">
        <p style="font-size: 20px;"> Check out our rush form <a href="https://docs.google.com/a/stanford.edu/forms/d/e/1FAIpQLSepf7D8YdnIg92m2K54gM5bQWkwa5mChZp7hPXceq-KsWtZyw/viewform?c=0&w=1">Here! </a> </p>
        If you would like more information on rushing, please check out our Rush Calendar and Rush FAQ. <br> Alternatively, you may reach out to our Rush Chair, Matt Wigler: <a href="mailto:mwigler@stanford.edu">mwigler@stanford.edu </a>

    </div>



    <h2 >What is Rush?</h2>

    <p style="font-size: 18px;"> Rush is a series of recruitment events that take place at the beginning of Spring Quarter each school year. These events allow potential new members (PNMs) to meet the brotherhood, to learn more about the Greek system, and to determine which, if any, fraternity is right for them. </p>

    <h2>Why Rush?</h2>

    <p style="font-size: 18px;"> The decision to attend Stanford was one of the most significant choices you ever had to make. The next three or four (or five or six or seven...) years of your life will not only be demanding and rigorous, but also enlightening, rewarding, and fun! You are now freer than ever before to be yourself and to chose your friends. Now, all you have to decide is who you want to be. <br><br>

    This is what fraternity is about—this is what AEPi is about. Fraternity membership will provide you with an outlet for social connections around campus and friends who are up for doing whatever, whenever. Most importantly, it supplies lasting memories and lifelong friendships formed and tightened around a bond of brotherhood. One of the best things about being part of a fraternity is knowing that there is always someone who’s got your back. It truly is a family. More than that, it is a relaxed family that will teach you and learn from you. Looking back when you’ve finally graduated, you’ll be able to say that Stanford was more than problem sets, essays, and exams; the lessons you learn from this family will form the second half of your Stanford education. <br><br>

    AEPi has a strong presence on campus, with strong ties to the Jewish community, good sorority relationships, a tradition of community service, and leaders across many of Stanford’s major student groups. Our brotherhood and social events, along with ski trips and Spring Break trips, keep us busy all year long. In the past, we’ve partied with AEPi and sorority chapters at UC-Berkeley, UC-Santa Cruz, and Chico State; we’ve ventured to Washington D.C. and Mexico on Spring Break trips; and we’ve spent various weekends at both Lake Tahoe and in San Francisco. In short, brothers are constantly planning events—currently, we are looking forward to our triumphant return to Cabo for Spring Break, Spring Formal, and various social events on campus. We are, however, more than a social organization: AEPi brothers are active leaders in Jewish, philanthropic, academic, professional, athletic, social, and political student groups on campus. Some of these include the Jewish Student Association (JSA), Autism Speaks U Stanford, Los Hermanos de Stanford, TreeHacks, Model United Nations, Stanford Consulting, Stanford Squash, Stanford Club Golf, Stanford Bridge Club, the Stanford Daily, the Stanford Review, Traveling Trees, and the Alexander Hamilton Society. <br><br>

    Membership also includes massive alumni connections. Our chapter maintains great relationships with alumni, some of whom are leaders in finance, law, medicine, business and technology—not to mention that AEPi National has global connections in every job sector imaginable. (Did you know that Facebook’s Mark Zuckerberg is an AEPi?)

    We are a brotherhood of individuals with diverse ethnic, religious, and political backgrounds who come together to have fun and add a little bit of spice to campus life. It’s a fraternity for men who want to be more than just frat boys. <br> </p>

    <br>
    <br>
</div>
