
<h1 style="text-align: center"> Rush FAQ </h1>
<div style="padding-left: 10%; padding-right: 10%">

    <h3>What’s AEPi? Isn’t that the business frat or something?</h3>
    <p>Alpha Epsilon Pi is Stanford’s only Jewish fraternity, as of March 2017 consisting of 25 active brothers.</p>

    <h3>Do I have to be Jewish to join?</h3>
    <p>Nope. Our fraternity currently includes multiple non-Jewish members, some of whom hold leadership positions. We welcome everyone, regardless of religion, because diversity helps us learn from one another and contributes to the fraternity’s vitality.</p>

    <h3>Why should I join AEPi in the first place?</h3>
    <p>AEPi is committed to providing the college man with the best possible experience—an outlet for social connections around campus and friends who are up for doing whatever, whenever. Looking back when you’ve finally graduated, you’ll be able to say that Stanford was more than problem sets, essays, and exams. The lessons you learn from your brothers will form the second half of your Stanford education.</p>

    <h3>When does rush start? Do I have to sign up?</h3>
    <p>Rush starts the first week of Spring Quarter and lasts for just under two weeks. You don’t have to sign up for anything (<a href="https://docs.google.com/a/stanford.edu/forms/d/e/1FAIpQLSepf7D8YdnIg92m2K54gM5bQWkwa5mChZp7hPXceq-KsWtZyw/viewform?c=0&w=1">But this form helps us keep track</a>)—just come out to one of our rush events, say hello, grab some food, and schmooze.</p>


    <h3>Is rush free? Is there a registration fee?</h3>
    <p>Yes, rush is 100% free—no fees or costs to you whatsoever. Cheaper than a stick of gum!</p>

    <h3>What events is AEPi throwing?</h3>
    <a href="/rushcalendar">Here </a> is the list of rush events and necessary info.</p>


    <h3>If I miss a rush event, can I still try to join AEPi?</h3>
    <p>Yes! We understand that everyone here is busy, and part of what makes our brotherhood unique is just how involved our brothers are on campus. Nonetheless, we hope that you will come to whatever events you can. The more events you come to, the more brothers you’ll meet, and the better idea you’ll have of if AEPi is a good fit for you.</p>

    <h3>What can I expect if I decide to join AEPi?</h3>
    <p>A lifelong bond with a close-knit group of best friends who will always have your back. Nothing more, nothing less.</p>

    <h3>What if money is an issue?</h3>
    <p>AEPi does not exclude any potential brothers for financial reasons. Therefore, we help our members apply for scholarships through AEPi Nationals, provide quarterly payment plans for those who cannot make one upfront payment, and enlist alumni assistance when this is still not</p>
    enough. When we put our money together, though, we get more bang for our buck. Please speak with our Exchequer, Eduardo Perez (eperez94@stanford.edu), if you have any questions or concerns.

    <h3>Will my grades suffer if I join AEPi?</h3>
    <p>Academics are at the core of what we’re about, and we prioritize our academics above all else. We are all students, and this is an invaluable support system that will help you. Brothers have taken the classes you’re taking and can help you study and succeed. Being in a fraternity will also teach time management. Most of our brothers had even better grades during their pledge quarter than before it.</p>

    <h3>What about my other friends and obligations?</h3>
    <p>We value being involved on campus. In fact, most of our brothers are leaders in at least one student organization on campus. We encourage it! We want cultured and enriched members. This isn’t supposed to take away from other parts of your life, only enhance it.</p>

    <h3>What if I’m not a “frat guy”?</h3>
    <p>What is a “frat guy”? Many of us never thought we’d be in a fraternity either. We stand for something important—living our values. Put aside your preconceived ideas, because we’re here to change those. We are a very diverse group that prides itself on being the home for all types of people with a wide variety of talents and interests.</p>

    <h3>What if my parents won’t let me join?</h3>
    <p>Explain to your parents what the fraternity experience is actually about, not what they think it’s about. Much of this information is above or elsewhere on our website, but please don’t hesitate to contact us with any further questions. We can also speak with your parents about the fraternity, the pledge program, and more.</p>

    <h3>Why now?</h3>
    <p>Every second you’re not part of AEPi, you’re missing out on close friendships and cool events. Don’t miss our next ski trip, formal, SF night, or Shabbat dinner. This is a great experience that means so much to everyone in it. All of our brothers who held off for a year regret the time they missed out on.</p>

    If you are still unsure about your interest in joining, that is exactly what Rush is meant for! Participating in Rush does not cost you anything and does not mean that you are required to pledge. Come check out our events, meet the brothers, ask us whatever questions are still on your mind, and hopefully we’ll find that you’re a good fit for our brotherhood! We look forward to meeting you</p>

</div>
